.hide_controls {
    pointer-events: none;
}

/*useful website: http://css-snippets.com/simple-horizontal-navigation/  */

body {
    margin: 0;
    padding: 0;
    background: #ccc; 
}

.nav ul {
    list-style: none;
    background-color: #444444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    line-height: 50px;
    height: 50px;
    width: 120px;
    border-bottom: none;
}

.nav a{
    text-decoration: none;
    color: #fff;
    transition: .3s background-color; /*this adds a transition when hovering over*/
    display: block; /* when you over tab, it highlights block not just word*/
}

.nav a:hover {
    background-color: #005f5f;
    /* this makes the nav bar a different color when hovering over it*/
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default; /* when you pass over the active tab, it doesnt look like you can click on it*/
}

/* This code below can be used if want to make it available for use on smaller devices like a phone.
To do so, in .nav li go switch sizes to be more appropriate for a phone and then uncomment below
Code below will take care of resizing things if screen is big enough*/
/*@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
}*/


.nav li{
    display: inline-block;
}
